body{font-size:9pt;margin:0;padding:0;}
.noticeTemplate{
	margin-left: auto;
	margin-right: auto;
    width:100%!important;
}
.noprint{display : none }
.tTitle{
    text-align: center;
    clear: both;
}
.printHead{
    width: 100%!important;
}
a{
    text-decoration:none;
    color: #333333;
}
table{
    width: 100%!important;
    font-family:SimSun; /* verdana,arial,sans-serif*/
    font-size: 9pt;
    color:#333333;
    /*  border-width: 1pt;
    border-color: #666666;
    border-collapse: collapse;*/
    border-collapse: collapse;
    margin-left:auto;
	margin-right: auto;
    border-width: 1pt;
    border-color: #666666;
}
table th {
    border-width: 1pt;
    /*padding: 8px;*/
    font-weight: normal;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table td {
    border-width: 1pt;
   /*padding: 8px;*/
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
    text-align: left;
    /*float:left;*/
}
.table-noborder td{
    border-color:#fff ;
    text-align: left;
   /* border:1px solid #000000;*/
}
.table-noborder .label{
    text-align: left;

}
.table-noborder .money{
    font-size: 16pt;
    font-family:SimSun;
    font-weight: bold;
}
.tableBox{
    position: relative;
    min-height: 155pt;
    margin-top: 20pt;
    overflow: hidden;
    clear: both;

}
.table50{
    width: 50%!important;;
    margin-left: 10pt;
}
.tableBox .seal {
    position: absolute;
    bottom:30pt;
    right: 80pt;
    margin-left:100pt;
    width: 80pt;
    height: 30pt;
    line-height:30pt;
    border: 1px dotted #666;
}
.table2{
    margin-top: 30pt;
    clear:both;
}
.checker{
    clear:both;
    margin-top: 15pt;
    margin-left: 10pt;
    text-align: left;
}
.checker span{
    text-align: left;
    width: 12%;
    display: inline-block;
}
.checker span.long{
    min-width: 120pt;
}
