body{font-size: 10px;}
.noprint{display : none }
.tTitle{
    text-align: center;
}
a{
    text-decoration:none;
    color: #333333;
}
table{
    width: 100%;
    font-family:SimSun; /* verdana,arial,sans-serif*/
    font-size:10px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table th {
    border-width: 1px;
    /*padding: 8px;*/
    font-weight: normal;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table td {
    border-width: 1px;
   /*padding: 8px;*/
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
    text-align: left;
    /*float:left;*/
}
.table-noborder td{
    border-color:#fff ;
    text-align: left;
   /* border:1px solid #000000;*/
}
.table-noborder .label{
    text-align: left;

}
.table-noborder .money{
    font-size: 18px;
    font-family:SimSun;
    font-weight: bold;
}
.tableBox{
    position: relative;
    min-height: 155px;
    margin-top: 20px;
    overflow: hidden;
}
.table50{
    width: 50%;
    float: left;
}
.tableBox .seal {
    position: absolute;
    bottom:30px;
    right: 80px;
    float: left;
    margin-left:100px;
    width: 80px;
    height: 30px;
    line-height:30px;
    border: 1px dotted #666;
}
.table2{
    margin-top: 30px;
}
.checker{
    margin-top: 15px;
    text-align: left;
}
.checker span{
    text-align: left;
    width: 12%;
    display: inline-block;
}
.checker span.long{
    min-width: 120px;
}

.noticeTemplate{
	width:100%;
}