<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/reset.css" media="screen" />
  	<link rel="stylesheet" href="../css/main.css" media="screen" />
	<script language="javascript" src="../js/jquery-1.4.4.min.js"></script>
	<script language="javascript" src="../js/jquery.jqprint-0.3.js"></script>
</head>
<body>
	<div class="mainPri " id="printBox" >
		<table class="tablaTop" style="text-align:center;font-size:12px;" width="100%" bgcolor="#efefef">
			<thead>
				<tr>
					<th colspan="9" style="font-size:16px;">订单列表</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="9">单位：<span>宽广超市</span></td>
				</tr>
				<tr>
					<td>经营方式：<span>联营</span></td>
					<td>时间：<span>2015</span></td>
					<td>单位：<span>元</span></td>
					<td>结算单编号：<span>13232023</span></td>
					<td>含税进价金额合计：<span>1321.03</span></td>
				</tr>
			</tbody>
		</table>
		<table border="1" bordercolor="#999" style="border-collapse:collapse;font-size:9px;" width="100%">
			<tbody>	
				<tr class="thead" align="center">
					<td>结算位置</td>
					<td>供应商编码</td>
					<td>供应商名称</td>
					<td>结算单编号</td>
					<td>上次结算日期</td>
					<td>本次结算日期</td>
					<td>审核状态</td>
					<td>确认状态</td>
					<td>查看次数</td> 
				</tr>	
				<tr>
					<td>宽广超市业务中心</td>
					<td>120021</td>
					<td>自采蔬菜（01.02.03.04.05.06.08.81.85.86）</td>
					<td>CM01201511070033</td>
					<td>2011-10-08</td>
					<td>2015-11-07</td>
					<td>制单审核</td>
					<td>未确认</td>
					<td>0</td>
				</tr>
				<tr>
					<td>宽广超市业务中心</td>
					<td>120021</td>
					<td>自采蔬菜（01.02.03.04.05.06.08.81.85.86）</td>
					<td>CM01201511070033</td>
					<td>2011-10-08</td>
					<td>2015-11-07</td>
					<td>制单审核</td>
					<td>未确认</td>
					<td>0</td>
				</tr>
				<tr>
					<td>宽广超市业务中心</td>
					<td>120021</td>
					<td>自采蔬菜（01.02.03.04.05.06.08.81.85.86）</td>
					<td>CM01201511070033</td>
					<td>2011-10-08</td>
					<td>2015-11-07</td>
					<td>制单审核</td>
					<td>未确认</td>
					<td>0</td>
				</tr>
				<tr>
					<td>宽广超市业务中心</td>
					<td>120021</td>
					<td>自采蔬菜（01.02.03.04.05.06.08.81.85.86）</td>
					<td>CM01201511070033</td>
					<td>2011-10-08</td>
					<td>2015-11-07</td>
					<td>制单审核</td>
					<td>未确认</td>
					<td>0</td>
				</tr>
				<tr>
					<td>宽广超市业务中心</td>
					<td>120021</td>
					<td>自采蔬菜（01.02.03.04.05.06.08.81.85.86）</td>
					<td>CM01201511070033</td>
					<td>2011-10-08</td>
					<td>2015-11-07</td>
					<td>制单审核</td>
					<td>未确认</td>
					<td>0</td>
				</tr>
			</tbody>
		</table>
	</div>

<input class="printBtn" id="printBtn" type="button" onclick=" print()" value="打印"/>
<script>
	function print(){
		$("#printBox").jqprint();
	}
</script>
</body>
</html>
