<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户登录</title>
	<link rel="stylesheet" href="css/reset.css"/>
  <link rel="stylesheet" href="css/main.css"/>
	<!--[if IE 6]>
	<script type="text/javascript" src="js/DD_belatedPNG_0.0.8a-min.js"></script>
	<script type="text/javascript" src="js/ie6fixpng.js"></script>
	<![endif]-->

</head>
<body>
  <div class="login-main">
    <div class="l-main-title">
      <h1>商业供应链管理系统</h1>
    </div> 
    <div class="l-main-content">
      <form action="">
        <p><label for="username">用户名:</label><input type="text" class="username" id="username"></p>
        <p><label for="password">密&nbsp;&nbsp;&nbsp;码:</label><input type="password" class="password" id="password"></p>
        <p><label for="validate">验证码:</label><input type="text" class="validate" id="validate"></p>
        <p class="validate"><img id="validateImg" src="image/validateImg.jpg" align="absmiddle"><a href="">[刷新]</a></p>
        <p><input type="submit" class="enter" id="enter" value="登&nbsp;&nbsp;&nbsp;&nbsp;录">
      </form></p>
    </div>
  </div>



<!--[if IE]> <script type="text/javascript" src="js/jquery-1.9.1.js"></script><![endif]--> 
<![if !IE]><script type="text/javascript" src="js/jquery-2.1.4.min.js"></script><![endif]> 
</body>
</html>