{% load basefilter %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>发票接收单</title>
</head>
<body>
    {% include 'common/nav.html' %}
	<div class="invioce comWidth">
        {% csrf_token %}
		<div class="tTitle">
			<h1>发票接收单 </h1>
			<div class="inputBox">
                <input type="hidden" name="PlanPayDate" id="PlanPayDate" value="">
				<div class="box-line">
                    <p><lable>单据编号：</lable><input type="text" readonly="readonly" name="sheetId" value=""></p>
                    <p>
                        <label>门店编号：</label>
                        <select name="shopId" id="shopId">
                            {% for shop in shopList %}
                            <option value="{{ shop.shopcode }}">{{ shop.shopnm }}</option>
                            {% endfor %}
                        </select>
                    </p>

                    <p>
                        <label>付款日期：</label>
                        <input class="inline laydate-icon" id="payDate" name="payDate" type="text" value="" style="width: 160px;">
                    </p>
                    <p style="width: 250px">
                        <label>提取发票方式：</label>
                        <select name="" id="payStatus">
                            <option value="N">未结算</option>
{#                            <option value="Y">已结算</option>#}
{#                            <option value="">全部</option>#}
                        </select>
                    </p>
				</div>
				<div class="box-line">
                    <p><label>申请结算单：</label><input type="text" name="refSheetId" id="refSheetId" ></p>
                    <p>
                        <label>经营方式：</label>
                        <select name="payTypeId" id="payTypeId">
                            {% for payType in payTypeList %}
                            <option value="{{ payType.id }}">{{ payType.id }} | {{ payType.name }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label>结算地：</label>
                        <input type="text" readonly="readonly" value="CM01 |  宽广超市业务中心" style="width: 160px;">
                    </p>


				</div>
			</div>
		</div>
        <table>
			<thead>
				<tr>
					<th>票据<br>类型</th>
					<th>发票进项税率</th>
					<th>发票号</th>
					<th>不含税金额</th>
					<th>税额</th>
					<th>价税合计</th>
					<th>扣项金额</th>
					<th>实际付款</th>
					<th>付款<br>方式</th>
					<th>发票日期</th>
					<th>纳税号</th>
					<th>发票货物</th>
				</tr>
			</thead>
			<tbody id="invoiceTable">
				<tr>
					<td>
						<select>
							<option value="1">普票</option>
							<option value="2">税票</option>
						</select>
					</td>
					<td><input type="text" value="0.00 " name="ctaxrate" id="ctaxrate"></td>
					<td><input type="text" name="cno"></td>
					<td><input type="text" value="0.00 " name="cmoney"></td>
					<td><input type="text" value="0.00 " name="csh"></td>
					<td><input type="text" value="0.00 " name="jshj"></td>
					<td><input type="text" value="0.00 "></td>
					<td><input type="text" value="0.00 "></td>
					<td>
                        <select name="" id="">
                            <option value="0">支票</option>
                            <option value="1" selected >电汇</option>
                            <option value="2">汇票</option>
                            <option value="3">网银</option>
                            <option value="4">其他</option>
                        </select>
                    </td>
					<td><input type="text" value="{{ timeNow }}"></td>
					<td><input type="text" value="{{ dict1.TaxNo }}"></td>
					<td><input type="text" value="货物"></td>
				</tr>
                <tr>
					<td colspan="3">合计：</td>
                    <td id="cmoneySum">0.00</td>
                    <td id="cshSum">0.00</td>
                    <td id="jshjSum">0</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
				</tr>
			</tbody>
		</table>
		<div class="pageBottom-btn">
            <label for="" class="left">增加</label>
            <input class="query-enter left" type="text" id="rowNum" value="1"/>
            <label class="left">行</label>
			<input class="query-enter left actRow" type="button" value="增加数据行" onclick="addRow()">
			<input class="query-enter left actRow" type="button" value="删除数据行" onclick="delRow()">
			<p><input class="query-enter right" id="enterAjax" type="button" value="提交" ></p>
			<p><input class="query-enter right" type="button" value="取消" onclick="javascript:window.history.back();"></p>
		</div>
    </div>

	{% include 'common/footer.html' %}
	<script>
	  	!function(){
		    laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
		    laydate({elem: '#demo'});//绑定元素
		}();
		//自定义日期格式
		laydate({
			elem: '#payDate',
			format: 'YYYY-MM-DD hh:mm:ss',
		    festival: true, //显示节日
            max: '2099-06-16',
            istime: true,
            istoday: true
		});
  	</script>
    <script>
        //表格操作，增加新的一行
        function addRow(){
            var thead = document.getElementsByTagName('thead')[0];
            var tbody = document.getElementsByTagName('tbody')[0];
            var rowNum = $("#rowNum").val();
            if(rowNum==''){
                rowNum = "0";
            }

            for(var j=0;j<parseInt(rowNum);j++){
                var rowsL = tbody.rows.length;

                var columsL = thead.rows[0].cells.length;
                var row = tbody.insertRow(rowsL-1);

            for(i=0;i<columsL;i++){
                var td=document.createElement("td");
                if(i==0){
                    var select = document.createElement("select");
                    select.id="";
                    select.options.add(new Option("普票","1"));
                    select.options.add(new Option("税票","2"));
                    td.appendChild(select)
                }else if(i==8){
                    var select = document.createElement("select");
                    select.id="";
                    select.options.add(new Option("支票","0"));
                    select.options.add(new Option("电汇","1",'',true));
                    select.options.add(new Option("汇票","2"));
                    select.options.add(new Option("网银","3"));
                    select.options.add(new Option("其他","4"));
                    td.appendChild(select)
                }else{
                    var input = document.createElement("input");
                    if(i==1 || i==3 || i==4 || i==5 || i==6 || i==7){
                        input.value="0.00"
                    }
                    if(i==1){
                        input.name="ctaxrate"
                    }
                    if(i==2){
                        input.name="cno"
                    }
                    if(i==3){
                        input.name="cmoney"
                    }
                    if(i==4){
                        input.name="csh"
                    }
                    if(i==5){
                        input.name="jshj"
                    }

                    if(i==9){
                        input.value="{{ timeNow }}"
                    }
                    if(i==10){
                        input.value="{{ dict1.TaxNo }}"
                    }
                    if(i==11){
                        input.value="货物"
                    }
                    td.appendChild(input)
                }
                row.appendChild(td)
            }
        }
            $("#rowNum").val("");
        }
        //删除表格的一行
        function delRow(){
            var tbody = document.getElementsByTagName('tbody')[0];
            var rowsL = tbody.rows.length;
            if(rowsL>2){
                tbody.deleteRow(rowsL-2)
            }
        }
    </script>
    <script>
        $("#refSheetId").blur(function(){
            var refSheetId = $("#refSheetId").val();
            var payStatus = $("#payStatus").val();
            if(refSheetId){
                $.ajax({
                    type:'post',
                    url:'{% url 'queryBalance' %}',
                    data:{
                        'refSheetId':refSheetId,
                        'payStatus':payStatus
                    },
                    dataTpye:'json',
                    success:function(data){
                        var json = jQuery.parseJSON(data);
                        if(json.succ){
                            $("#PlanPayDate").val(json.PlanPayDate);
                            $("#payTypeId").val(json.payTypeId);
                            $("#shopId").val(json.shopId)
                        }else{
                            alert("此结算单编号不存在，请核对。")
                        }

                    }
                })
            }
        })
    </script>

</body>
</html>