{% load basefilter %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>商业供应链系统</title>
    </head>
    <body>        
        {% include "common/nav.html" %}
        <div class="query comWidth noprint">
            {% comment %}<form id="queryForm" name="queryForm" method="post" action="{% url 'balanceArticle' %}?sheetid={{ sheetId }}">
                {% csrf_token %}
                <input type="hidden" id="actionTxt" name="actionTxt" value="">
                <input class="query-print right" type="submit" value="确认" onclick="return confirmFun();">
            </form>{% endcomment %}
            <input class="query-print right" type="button" onclick=" javascript:print()" value="打印当前页" style="margin-right: 20px;margin-left: 20px"/>
            <input class="query-enter right" type="button" value="返回" onclick="window.history.back();return false; ">
        </div>
        <div class="comWidth">
           <div class="tTitle">
                <h1>{{ grpName }}统一购销结算单通知单</h1>
                <div class="printHead">
                    <table class="table-noborder">
                        <tr>
                            <td class="label">单据编号：</td> <td>{{ balance.sheetid }}</td>
                            <td class="label">结算方式：</td> <td>{{ payTypeDict | key:paytypeid }}</td>
                            <td class="label">结算地：</td> <td>{{ balance.shopid }}|{{ shopDict | key:balance.shopid }}</td>
                        </tr>
                        <tr>
                            <td class="label">部&emsp;&emsp;类：</td> <td>{{ mdeptName }}</td>
                            <td class="label">供应商编号：</td> <td>{{ balance.venderid}}</td>
                            <td class="label">供应商名称：</td> <td>{{ s_suppname }}</td>
                        </tr>
                        <tr>
                            <td class="label">应付金额：</td> <td class="money">{% if balance.curdxvalue == 0 %}{{ balance.payablemoney | floatformat:2|default_if_none:'' }}{% else %}{{ balance.curdxvalue  | floatformat:2|default_if_none:'' }}{% endif %}</td>
                            <td class="label">应开票金额：</td> <td class="money">{{ invoicePay|default_if_none:'' }}</td>
                            <td class="label">结算日期：</td> <td>{{ balance.begindate|date:'Y-m-d'  }}至{{ balance.enddate|date:'Y-m-d'  }}</td>
                        </tr>
                        <tr>
                            <td class="label">预付款金额：</td> <td class="money">&nbsp;</td>
                            <td class="label">预付款余额：</td> <td class="money">{% if balance.premoney %}{{ balance.premoney|default_if_none:''}}{% else %}&nbsp;{% endif %}</td>
                            <td class="label">单据日期：</td> <td>{{ balance.beginsdate|date:'Y-m-d' }}至{{ balance.endsdate|date:'Y-m-d' }}</td>
                        </tr>
                        <tr>
                            <td class="label">实付金额：</td> <td class="money"> {{ realPay |default_if_none:''}}</td>
                            <td class="label" >实付大写金额：</td> <td >{{ realPayUpper }}</td>
                            <td ></td><td ></td>
                        </tr>
                        <tr>
                            <td class="label">开户银行：</td> <td>{{ request.session.s_bank|default_if_none:"" }}</td>
                            <td class="label">开户银行帐号：</td> <td>{{ request.session.s_accountno|default_if_none:"" }}</td>
                            <td class="label">打印时间：</td> <td>{{ printDate|date:'Y-m-d' }}</td>
                        </tr>
                    </table>
                </div>
                <div class="tableBox">
                    <table class="table50" width="50%">
                        <thead>
                            <tr>
                                <th>分店号</th>
                                <th>分店名称</th>
                                <th>含税金额</th>
                                <th>不含税金额</th>
                            </tr>
                        </thead>
                        <tbody>
							{% for row in slist %}
                            <tr>
                                <td>{{ row.InShopID }}</td>
                                <td>{{ shopDict|key:row.InShopID }}</td>
                                <td>{{ row.CostValue }}</td>
                                <td>{{ row.CostValue|subtract:row.CostTaxValue }}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>合计:</td>
                                <td></td>
                                <td>{{ ssum1 }}</td>
                                <td>{{ ssum2 }}</td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="seal" >供应商盖章区</div>
                </div>
                <div class="checker">
                    <span>制单人：&emsp;</span>
                    <span class="long">财务经理：&emsp;</span>
                    <span>审核：&emsp;</span>
                    <span>总监：&emsp;</span>
                    <span>副总裁：&emsp;</span>
                    <span>总裁：&emsp;</span>
                    <span>供应商：&emsp;</span>
                </div>
            </div>
            <div class="table2">
				{% for row in itemList %}
                    <h2 style="text-align: center;font-weight: normal">{{ shopDict|key:row.0 }}</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>单据名称</th>
                                <th>单据编号</th>
                                <th>分店号</th>
                                <th>分店名称</th>
                                <th>税金</th>
                                <th>进项税率</th>
                                <th>含税金额</th>
                                <th>不含税金额</th>
                            </tr>
                        </thead>
                        {% for item in row.1 %}
                            <tr>
                                <td>{{ billTypeDict | key:item.refsheettype }}</td>
                                <td><a href="javascript:void(0);" onclick="findSheetItem('{{ item.refsheettype }}','{{ item.refsheetid }}')">{{ item.refsheetid  }}</a></td>
                                <td>{{ item.inshopid }}</td>
                                <td>{{ shopDict|key:item.inshopid }}</td>
                                <td>{{ item.costtaxvalue }}</td>
                                <td>{{ item.costtaxrate }}</td>
                                <td>{{ item.costvalue }}</td>
                                <td>{{ item.costvalue|subtract:item.costtaxvalue }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>合计：</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ sdict|key:row.0|key:0 }}</td>
                            <td>{{  sdict|key:row.0|key:1   }}</td>
                        </tr>
                    </table>
                    {% endfor %}
                    </div>
                </div>
            </div>

         {% include "common/footer.html" %}
        <script>
            current = "jiesuan";
            function confirmFun(){
                if(confirm('是否确认该结算单？')){
                   $("#actionTxt").attr({value:"check"})
                    return true
                }else{
                    return false
                }
            }

            function findSheetItem(sheetType,sheetId){
                 window.location.href="/scm/base/balance/apply/findSheet/?sheetId="+sheetId+"&&sheetType="+sheetType;
            }
        </script>
    </body>
</html>