{% load staticfiles %} 
<html>
    <head>
        <meta charset="UTF-8">
        <title>销售</title>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
        <script type="text/javascript" src="{% static 'js/laydate.js' %}"></script>
    </head>
    <body>       
        <div class="header">
            <div class="logo"></div>
            <div class="nav comWidth">
                <ul class="nav-list" style="display:block">
                    <li class="nav-list-item">
                        <a href="index.html">首页</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="user_base.html">基本资料</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="user_order.html">订货</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="active" href="user_saile.html">销售</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="user_stock.html">库存</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="user_bill.html">单据</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="user_settle.html">结算</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="user_notice.html">通知</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="/">退出</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="query comWidth">
            <form class="query-list">
                <p class="shopList">
                    <label>门店：</label>
                    <input type="text" id="shopcode" name="shopcode">
                    <span class="shopList-icon"></span>
                </p>
                <p>
                    <label>大类代码：</label><input type="text">
                </p>
                <p>
                    <label>大类名称：</label><input type="text">
                </p>
                <p class="date"></p>
                <p>
                    <label for="start">开始日：</label> <input class="inline laydate-icon" id="start" name="start" type="text" style="width:180px; margin-right:10px;">
                </p>
                <p>
                    <label for="end">结束日：</label> <input class="inline laydate-icon" id="end" name="end" type="text" style="width:180px;">
                </p>
                <p>
                    <input class="query-enter" type="submit" value="查询">
                </p>
                <p>
                    <input class="query-enter" type="button" value="导出到excel">
                </p>
            </form>
            <div class="shopList-cnt">
                <p class="shopList-cnt-tit">
                    <span>门店：</span>
                    <input type="checkbox" name="" id="" class="all"><label for="">全选/全不选</label>
                    <input class="enter" type="button" value="确定">
                    <input class="close" type="button" value="放弃">
                </p>
                <table border="0" cellpadding="3" cellspacing="1" width="100%" align="center" style="background-color: #999;">
                    <thead>
                        <tr>
                            <th>
                                选择
                            </th>
                            <th>
                                门店编码
                            </th>
                            <th>
                                门店名称
                            </th>
                            <th>
                                经营方式
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" name="" id="" value="001">
                            </td>
                            <td>
                                001
                            </td>
                            <td>
                                德汇
                            </td>
                            <td>
                                经营方式
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="" id="" value="002">
                            </td>
                            <td>
                                002
                            </td>
                            <td>
                                嘉和
                            </td>
                            <td>
                                经营方式
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="" id="" value="003">
                            </td>
                            <td>
                                003
                            </td>
                            <td>
                                名都
                            </td>
                            <td>
                                经营方式
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="notice noticeOrder comWidth">
            <div class="tTitle">
                <h1>
                    门店销售列表
                </h1>
                <h3>
                    单位：<span>宽广超市</span>
                </h3>
                <h3>
                    门店：<span>全部</span>
                </h3>
                <p>
                    <b>经营方式：</b><span>经销-代销-联营</span> <b>时间：</b><span>2015-11-01至2015-11-03</span> <b>单位：</b><span>元</span>
                </p>
            </div>
            <table border="0" cellpadding="3" cellspacing="1" width="100%" align="center" style="background-color: #999;">
                <thead>
                    <tr>
                        <th class="col1">
                            门店
                        </th>
                        <th class="col1">
                            销售数量
                        </th>
                        <th class="col1">
                            实际销售
                        </th>
                        <th class="col1">
                            销售成本
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col1">
                            <a href="">门店</a>
                        </td>
                        <td class="col1">
                            销售数量
                        </td>
                        <td class="col1">
                            实际销售
                        </td>
                        <td class="col1">
                            销售成本
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="page">
                <span>每页</span> <input class="pageTxt" id="pageNum" name="pageNum" type="text"> <span>条记录</span> <span>共<b>200</b>页/<b>200</b>条记录</span> <a href="#">首页</a> <a href="#">上一页</a> <a href="#">下一页</a> <a href="#">尾页</a> <span class="totalPage">到第</span> <input class="pageTxt" id="pageIndex" name="pageIndex" type="text"> <span>页</span> <input value="确定" id="pageEnter" type="button">
            </div>
        </div>
        <!--[if IE]> <script type="text/javascript" src="{% static 'js/jquery-1.9.1.js' %}"></script><![endif]-->
        <![if !IE]><script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script><![endif]>
        <script type="text/javascript">
            !function(){
                laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
                laydate({elem: '#demo'});//绑定元素
            }();

            //日期范围限制
            var start = {
                elem: '#start',
                format: 'YYYY-MM-DD',
                min: laydate.now(), //设定最小日期为当前日期
                max: '2099-06-16', //最大日期
                istime: true,
                istoday: false,
                choose: function(datas){
                   end.min = datas; //开始日选好后，重置结束日的最小日期
                   end.start = datas //将结束日的初始值设定为开始日
                }
            };

            var end = {
                elem: '#end',
                format: 'YYYY-MM-DD',
                min: laydate.now(),
                max: '2099-06-16',
                istime: true,
                istoday: false,
                choose: function(datas){
                    start.max = datas; //结束日选好后，充值开始日的最大日期
                }
            };
            laydate(start);
            laydate(end);

            //自定义日期格式
            laydate({
                elem: '#test1',
                format: 'YYYY年MM月DD日',
                festival: true, //显示节日
                choose: function(datas){ //选择日期完毕的回调
                  alert('得到：'+datas);
                }
            });

            //日期范围限定在昨天到明天
            laydate({
                elem: '#hello3',
                min: laydate.now(-1), //-1代表昨天，-2代表前天，以此类推
                max: laydate.now(+1) //+1代表明天，+2代表后天，以此类推
            });
        </script>
    </body>
</html>